# Files to exclude when creating archive.

.git                export-ignore
.gitignore          export-ignore
.gitattributes      export-ignore
.editorconfig       export-ignore
README.md           export-ignore
gulpfile.js         export-ignore
package.json        export-ignore
yarn.lock           export-ignore
assets/js/src/      export-ignore
assets/styles/src/  export-ignore
